[submodule "road_recorder"]
	path = road_recorder
	url = https://github.com/hyesugn98/road_recorder.git
[submodule "bag_recorder"]
	path = bag_recorder
	url = https://github.com/zang09/bag_recorder.git
[submodule "basler-ros-driver"]
	path = basler-ros-driver
	url = https://github.com/zang09/basler-ros-driver.git
